* {
  font-family: 'Kumbh Sans', sans-serif;
}

.cart {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: absolute;
    top: 9%;
    right: 100px;
    border-radius: 20px;
  }
  
  .cart h2 {
    text-align: center;
  }
  
  .cart-items {
    display: flex;
    justify-content: center;
  }
  
  .item {
    display: flex;
    width: 350px;
    height: 60px;
    padding: 10px;
    text-align: center;
  }
  
  .item img {
      border-radius: 10px;
  }
  
  .checkout {
    display: block;
    width: 300px;
    height: 75px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
  }

  .cartTitel{
    padding: 10px;
  }
  
  .TextCalcAmount{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: gray;
  }